.user-info.panel.panel-default
  .panel-body
    .row
      .col-md-3
        = image_tag(current_user.profile_image_url)
      .col-md-9
        %h1= link_to current_user.name, user_path(current_user)
        %h2= "@#{current_user.nickname}"

    .row
      .col-md-3.text-center
        TWEETS
      .col-md-3.text-center
        FOLLOWING
      .col-md-3.text-center
        FOLLOWERS
    .row
      .col-md-3.text-center
        = current_user.tweets_count
      .col-md-3.text-center
        = current_user.following_count
      .col-md-3.text-center
        = current_user.followers_count
