- tweets.each do |tweet|
  .panel.panel-default
    .panel-body
      .row
        .col-md-1
          = image_tag(tweet.author_profile_image_url)
        .col-md-11.container
          = tweet.author
          = "@#{tweet.author_user_name}"
          %br
          = tweet.text
          %br
          %br
          - if tweet.favorited?
            .favorited
              %span.glyphicon.glyphicon-heart
          - else
            .un-favorited
              = link_to favorite_tweet_path(tweet_id: tweet.id) do
                %span.glyphicon.glyphicon-heart
